#card{
   width: 70%;
   background-color: aqua;
   margin: 0 auto;
   text-align: center;
   padding: 25px;
   border-radius: 10px;
   border-color: black;
   box-shadow: 0 -4px 8px rgba(0,0,0,0.7);
   margin-top:60px;
   border-top: 8px solid #1100ff;
}

input{
    text-align: center;
    border-radius: 10px;
     margin-top: 15px;
     padding: 9px;
}
#card2{
    text-align: center;
    border-radius: 10px;
     margin-top: 15px;
     padding: 9px;
     border-color: black;

}

#botao{
    background-color: blue;
    color:aliceblue;
    font-size: larger;
}